.container{
    margin: 30% 44%;
}

.neku{ 
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(Mobile_-_The_World_Ends_With_You_Solo_Remix_-_Neku.png);
    background-repeat: no-repeat;
}

.sprite1{
    clip: rect(0px,100px,109px,0px);
    background-position: -207px -92px;
}
.sprite2{
    clip: rect(0px,100px,109px,0px);
    background-position: -111px -104px;
}
.sprite3{
    clip: rect(0px,105px,98px,0px);
    background-position: -7px -95;
}
.sprite4{
    clip: rect(0px,114px,108px,0px);
    background-position: 0px -193px;
}
.sprite5{
    clip: rect(0px,90px,109px,17px);
    background-position: -367px -413px;
}
.sprite6{
    clip: rect(0px,90px,109px,0px);
    background-position: -114px -309px;
}
.sprite7{
    clip: rect(0px,106px,109px,0px);
    background-position: -113px -418px;
}
.sprite8{
    clip: rect(0px,109px,109px,0px);
    background-position: -5px -413px;
}
